/* Ajustes gerais para todo o html */
html{
    margin: 2% auto;
    width: 817px;
    height: 664px;
    border: solid 1px #000;
    position: relative;
    font-family: 'Roboto', sans-serif;

}

/*ajustes gerais de header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 817px;
    height: 88px;
    border-bottom: solid 1px black;
    background-color: #C4C4C4;    

}

/*Ajustes h1*/
.h1_header{
    font-size: 24px;
    font-weight: 400;
    padding: 1%;

}

/* Fim ajustes Header */

/* Ajustes gerais body */
body{
    margin: 0%;
}

/*Ajustes formatação caixa superior*/
.box_final{
    width: 777px;
    height: 88px;
    margin: 1rem 1rem 0rem 1rem;
    border: solid 1px black;
    overflow-y: auto;

}

/*Ajustes dos botões*/
.modo_edicao_button_salvar{
    display: none;
    width: 79px;
    height: 36px;
    border-radius: 10px;
    background: #058019;
    font-size: 14px;
    color: #FFF;

}

.position_button{
    display: flex;
    justify-content: flex-end;
    margin-right: 2.7%;
    height: 26px; 

}

.button_editar{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background: #F6A75D;
    
}

.button_excluir{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background: #F65D5D;
    
}

/*Ajustes formatação form*/
/* Ajuste formatação box inferior externo */
.box2{
    position: absolute;
    width: 609px;
    height: 170px;
    top: 65.8%;
    left: 7%;
    margin: 1rem; 
    border: solid 1px black;
    border-bottom: 0px;
    padding: 20px;
    background: #969696;
    
}

/* Ajuste formatação box inferior interno */
.box_mensages{
    position: absolute;
    width: 500px;
    height: 150px;
    top: -3%;
    left: -1%;
    padding: 20px;
    margin: 1rem; 
    border: solid 1px black;
    font-size: 1rem;

}

input::placeholder{
    background: #969696;

}

/*Ajustes do botão enviar*/
.position_enviar{
    display: flex;
    justify-content: flex-end;
    margin-right: -2%;
    margin-top: -1.5%;

}

.button_enviar{
    width: 79px;
    height: 36px;
    border-radius: 10px;
    background: #0066CC;
    font-size: 14px;
    color: #FFF;
    
}




